body {
  font-family: Domine;
  background-color: #a0c0c4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #dddfdf;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  padding-top: calc(2.5vw + 0vh);
  padding-bottom: calc(1.5vw + 0.7vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 0.5vw);
  color: rgb(41, 41, 41);
  line-height: 70%;
}

.header h1 {
  font-size: calc(0.75vw + 1.5vh);
}

.headerInfo {
  font-size: calc(7px + 0.3vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Map-container {
  height: 80vh;
  width: auto;
  position: relative;
}
.footer {
  background-color: #a0c0c4;
  z-index: 2;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vh);
  color: #22162e;
  padding-top: 0.7vh;
}

.innerFooter {
  padding-left: 3vh;
  padding-right: 3vh;
}

a {
  color: rgb(27, 90, 167);
  text-decoration: none;
}
.responsive {
  max-width: 50%;
  height: auto;
}

.App-link {
  color: #61dafb;
}

.infoWindowTitle {
  text-align: center;
  color: rgb(255, 98, 0);
  line-height: 50%;
  margin-bottom: 2em;
}

.infoWindowTitle p {
  color: grey;
}

.infoWindowDetails {
  margin-left: 1em;
  margin-right: 1em;
}

.Data {
  overflow: hidden;
}

.gm-style .gm-style-iw {
  font-family: roboto;
  font-size: calc(3px + 1vmin);
  display: block;
  color: white;
  background-color: rgb(39, 41, 40);
  font-weight: 400;
  letter-spacing: 0.12vh;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-t::after {
  background: rgb(39, 41, 40);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
